


body{
  background-image: url(food.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container,p, h3{
  display: flex;
  justify-content: center;

}
.btn{
  border: none;
  margin-top: 20px;
  margin-left: 50px;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;

  }
  